Django
djangorestframework
dj-database-url
sqlparse
whitenoise
Flask
flask-cors
Flask-SQLAlchemy
gunicorn
numpy
scipy
pandas
keras
mtcnn
opencv-python
opencv-contrib-python
scikit-learn
scikit-image
mediapipe
keras-facenet
psycopg2-binary
mysqlclient
requests
Pillow
joblib
python-dateutil
