absl-py
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altair
asgiref
asttokens
astunparse
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
dj-database-url
Django
djangorestframework
docopt
executing
fastjsonschema
filelock
Flask
flask-cors
Flask-SQLAlchemy
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-pasta
googletrans
greenlet
grpcio
gunicorn
h11
h2
h5py
hpack
hstspreload
httpcore
httpx
hyperframe
idna
imageio
ipykernel
ipython
itsdangerous
jax
jaxlib
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keras
keras-facenet
kiwisolver
lazy_loader
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
ml_dtypes
mpmath
mtcnn
multidict
mysqlclient
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
numpy
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pandas
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
propcache
protobuf
psutil
psycopg2-binary
pure_eval
pyarrow
pycparser
pydeck
Pygments
PyJWT
pyparsing
python-dateutil
pytz
pyzmq
referencing
requests
rfc3986
rich
rpds-py
scikit-image
scikit-learn
scipy
sentencepiece
six
smmap
sniffio
sounddevice
soupsieve
SQLAlchemy
sqlparse
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tifffile
tinycss2
toml
torch
torchvision
tornado
traitlets
twilio
typing_extensions
tzdata
urllib3
watchdog
wcwidth
webencodings
Werkzeug
whitenoise
wrapt
yarg
yarl